<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6 [hidden]="!loading">Cadastro de registros</h6>
        <ngx-skeleton-loader
          [hidden]="loading"
          count="1"
          [theme]="{ width: '20em', 'border-radius': '40', height: '40px' }"
        ></ngx-skeleton-loader>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive px-4">
            <div *ngIf="loading; else loadingInputs">
              <div class="form-group mb-4" [ngClass]="displayFieldCss('body', 'form-group')">
                <label class="control-label required" for="body">Body</label>
                <input class="form-control" [ngClass]="displayFieldCss('body', 'field')" name="body" id="body" formControlName="body" />
              </div>
              <div class="form-group mb-4" [ngClass]="displayFieldCss('title', 'form-group')">
                <label class="control-label required" for="title">Title</label>
                <input class="form-control" [ngClass]="displayFieldCss('title', 'field')" name="title" id="title" formControlName="title" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col-12 text-end">
            <button
              mat-button
              [hidden]="!loading"
              type="submit"
              class="btn bg-gradient-success btn-block mb-3"
            >
              Cadastrar
            </button>
            <ngx-skeleton-loader
              [hidden]="loading"
              count="1"
              [theme]="{ width: '10em', 'border-radius': '40', height: '40px' }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #loadingInputs>
  <ngx-skeleton-loader
    [hidden]="loading"
    count="2"
    [theme]="{ 'border-radius': '40', height: '40px' }"
  ></ngx-skeleton-loader>
</ng-template>
